
/* Nav
*****************************************/
header{
  position: fixed!important;
  background-color: #ffffff;
  width: 100%;
  z-index: 20;
}
.navbar{
  padding: 0px 1vw;
  max-width: 1200px;
  margin: auto;
  text-transform: uppercase;
}
.navbar .logo img{
  max-width: 230px;
}
.navbar li{
  padding: 0px 15px;
}
.navbar .nav-link{
  position:relative;
  font-size: 1rem;
  line-height: 1;
  color:#000000;
  padding: 0;
}
.navbar .nav-link:not(.language-select)::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #00adee;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
.navbar .nav-link:hover{
  color:#00adee;
}
.navbar .nav-link:not(.language-select):hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
.navbar .nav-link:not(.language-select).active{
  color:#00adee;
  font-weight: 600;
}
.navbar .nav-link:not(.language-select).active::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
li.language-sep{
  border-left:1px solid #000000;
  padding-right:0px;
}
.nav-mobile, .menu-content-frame{
  display: none;
}
@media(max-width:1200px){
  .navbar .logo img{
    max-width: 100px;
  }
}
@media(max-width:992px){
  .navbar{
    padding: 0px 5vw;
  }
  .nav-desktop{
    display: none;
  }
  .nav-mobile{
    display: block;
    color:#000000;
    margin-top:21px;
  }
  .nav-mobile svg{
    fill:#000000;
  }
  .menu-content-frame{
    text-align: center;
    display: flex;
    background-color:#ffffff;
    width:100vw;
    height:0vh;
    overflow-y: scroll;
    position:fixed;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
  }
  .menu-content-frame hr{
    width: 0vw;
    margin:10px auto;
    transition: all 1.5s ease-in-out;
  }
  .menu-content-frame a.nav-link{
    display: block;
    color:#000000;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif!important;
    text-transform: uppercase;
    margin: 20px 0px;
    opacity: 0;
    transform: translatey(-100px);
    transition: all 0.5s ease-in-out;
  }
  .menu-content-frame a.nav-link.active{
    color:#00adee;
    text-decoration: underline;;
  }
  .navbar{
    padding: 0px 2vw!important;
  }
  .navbar .logo img{
    max-width: 120px;
  }
  .nav-mobile{
    margin-top:15px;
  }
  .ham:hover, .close-ham:hover{
    cursor:pointer;
  }
  .close-ham{
    display: none;
    font-family: 'Kanit', sans-serif!important;
    font-size: 2rem;
    line-height: 1;
  }
  .expandmenu .open-ham{
    display: none;
  }
  .open-ham{
    display: inline-block;
  }
  .expandmenu .close-ham{
    display: inline-block;
  }
  .expandmenu .menu-content-frame{
    height:100vh;
    opacity: 1;
    pointer-events: unset;
  }
  .expandmenu .menu-content-frame hr{
    width: 70vw;
  }
  .expandmenu .menu-content-frame a.nav-link{
    opacity: 1;
    transform: translatey(0);
  }

}
@media(max-width:500px){
  .navbar .logo img{
    max-width: 90px;
  }
  .menu-content-frame a.nav-link{
    font-size: 1.2rem;
    margin: 7px 0px;
  }
}


/* Footer
*****************************************/
footer{
  overflow-y: hidden;
  padding:30px 35px 15px 35px;
  /* background-color:#f3faff; */
  background-color: #00b0f2;
  color:#ffffff;
}
footer .footer-frame{
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer-contact-header h3{
  margin-bottom:0px;
  padding-bottom:0px;
  font-weight: 700;
}
footer .footer-contact-header hr{
  margin: 5px 0px 20px 0px;
  height:2px;
  width: 100%;
  background-color: #ffffff;
}
footer .footer-contact-header p{
  font-size:1.1rem;
}
footer p{
  display: flex;
}
footer a{
  color:#ffffff;
  text-decoration:none;
}
footer a:hover{
  color:#ffffff;
  text-decoration:underline;
}
footer p span:last-of-type{
  padding-left:15px;
}
.foooter-img-frame{
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
}
.copy-right{
  font-size: 0.8rem;
}
.fax svg{
  width:16px;
  height:16px;
}

@media(max-width:500px){
  footer{
    padding:25px 20px 0px 20px;
  }
}

/* Slide Css
*****************************************/
.slider-container {
  position: relative;
  height: 70vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin: 0;
  bottom: 1%;
  transform: translateX(-50%) scale(0.7);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../sources/people-vehicle-dealership-buying-new-car.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #00b0f2;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgb(0 176 242 / 70%);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../sources/young-people-working-call-center-new-deals-is-coming.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #00b0f2;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgb(0 176 242 / 70%);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../sources/car-driving-through-road-forest-surrounded-by-trees-sunlight.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #00b0f2;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgb(0 176 242 / 70%);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.9;
}
.slide__text {
  position: absolute;
  max-width: 600px;
  width: 50%;
  bottom: 30%;
  left: 5%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 40%;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 10% 1rem 0 1rem;
  }
}
.slide__text-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 1.5;
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .slide__text-heading {
    font-size: 1.5rem;
  }
}
.slide__text-desc {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}

/* Welcome Section
*****************************************/
#welcome{
  min-height: 100vh;
  padding:100px 0px 60px 0px;
  position:relative;
  display: flex;
}
#welcome .container{
  align-self:center;
}
.bluegoo{
  position: absolute;
  top: -340px;
  right: -480px;
  width: 1060px;
  height: 1700px;
  z-index: -1;
  pointer-events: none;
}
.bluegoo img{
  width: 100%;
  height: 100%;
}
.lightbluegoo{
  position: absolute;
  bottom: -340px;
  left: -480px;
  width: 1060px;
  height: 1700px;
  z-index: -1;
  pointer-events: none;
}
.lightbluegoo img{
  width: 100%;
  height: 100%;
}
.welcome-header-text{
  margin-bottom:50px;
}
.welcome-header-text .welcome-text{
  color: #01afef;
  text-shadow: 2px 2px white;
  font-size: 3rem;
  font-weight: 600;
}
.welcome-header-text .welcome-compamy{
  font-size: 3.5rem;
  font-weight: 700;
  color: #01afef;
  text-shadow: 2px 2px white;
}
.welcome-details-text{
  max-width:1100px;
}
.welcome-details-text p{
  font-size: 1.2rem;
  font-weight: 600;
}
@media(max-width:1200px){
  .bluegoo{
    top: -250px;
    right: -500px;
    width: 800px;
    height: 1200px;
  }
  .lightbluegoo{
    bottom: -200px;
    left: -150px;
    width: 560px;
    height: 1200px;
  }
  .welcome-header-text .welcome-text{
    font-size: 2.5rem;
  }
  .welcome-header-text .welcome-compamy{
    font-size: 3rem;
  }
}
@media(max-width:992px){
  #welcome{
    min-height: 70vh;
  }
  .bluegoo{
    top:unset;
    bottom: -100px;
    right: -550px;
    width: 800px;
    height: 800px;
  }
  .lightbluegoo{
    top: -200px;
    bottom:unset;
    left: -350px;
    width: 560px;
    height: 1200px;
  }
  .welcome-header-text .welcome-text{
    font-size: 1.8rem;
  }
  .welcome-header-text .welcome-compamy{
    font-size: 2.1rem;
  }
  .welcome-details-text p{
    text-align: justify;
  }
}

@media(max-width:500px){
  #welcome{
    padding:60px 0px 60px 0px;
  }
  .bluegoo {
      top: unset;
      bottom: -100px;
      right: -555px;
      width: 700px;
      height: 850px;
  }
  .welcome-header-text{
    margin-bottom:20px;
  }
  .welcome-header-text .welcome-text{
    font-size: 1.5rem;
  }
  .welcome-header-text .welcome-compamy{
    font-size: 2rem;
  }
  .welcome-details-text p{
    text-align: left;
  }
}


/* Portal Section
*****************************************/
#portal{
  min-height: 100vh;
  padding:100px 0px 60px 0px;
  position:relative;
  overflow: hidden;
  display: flex;
}
.lightbluegoo-2{
  position: absolute;
  bottom: -600px;
  right: -480px;
  width: 2000px;
  height: 1700px;
  z-index: -1;
  pointer-events: none;
  transform: rotate(100deg);
}
.lightbluegoo-2 img{
  width: 100%;
  height: 100%;
}
.protal-img{
  margin: auto;
  max-width: 500px;
  width:30vw;
  box-shadow: 8px 8px 0px 0px rgb(1 175 238);
}
.protal-img img{
  width:100%;
  height:auto;
}
.text-col{
  display: flex;
  justify-content: center;
}
.text-col.left{
  /* justify-content: flex-end; */
}
#portal .moveinright, #portal .moveinleft{
  align-self: center;
}
.protal-details a{
  display: block;
  position:relative;
  text-decoration: none;
}
.protal-details  span{
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(47%, -44%);
  transition: all 0.35s ease-in;
}
.protal-details a:hover span{
    transform: translate(100%, -44%);
}
.protal-details p{
  color: #01afef;
  text-shadow: 2px 2px #95d4ff;
  font-size: 2rem;
  font-weight: 600;
}
@media(max-width:992px){
  .protal-img{
    width:40vw;
  }
  .text-col{
    justify-content: center!important;
  }
}
@media(max-width:768px){
  .protal-img{
    width:100%;
  }
}
